@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  overflow-y: hidden;
}

a {
  color: #FF5EBE;
  text-decoration: none;
}

a:hover {
  cursor: default;
}

input {
  font-family: 'Space Mono', monospace;
  border: 2px solid #000;
  box-shadow: -4px 4px #BDFF00;
  background: transparent;
  padding: 7px 10px;
  font-size: 20px;
  color: black;
}

textarea:focus, input:focus{
  border: 2px solid #BDFF00;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  width: 2.5vw;
  height: 2.5vw;
  box-shadow: none;
}

input[type=checkbox] {
   position: relative;
}

input[type=checkbox]:before {
   content: "";
   display: block;
   /* position: absolute; */
   width: 30px;
   height: 30px;
   border: 2px solid #000;
   background-color: #c6c6c6;
   box-shadow: -4px 4px #BDFF00;
}

input[type=checkbox]:checked:after {
   content: "";
   /* display: block; */
   width: 10px;
   height: 25px;
   border: solid black;
   border-width: 0 4px 4px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   position: absolute;
   top: 0px;
   left: 10px;
}

input::placeholder {
  color: #9D9D9D;
  opacity: 1;
}

button {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  color: #BDFF00;
  /* color: black; */
  padding: 5px 12px;
  border: none;
  background: #FF5EBE;

}

button:disabled {
  opacity: 0.5;
}

button:hover:not([disabled]) {
  background: #BDFF00;
  color: #FF5EBE;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: #BDFF00;
}
::-moz-selection {
  background: #BDFF00;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color-scheme: dark;
    overflow: hidden;
  }
  body {
    color: #777777;
    background: #c6c6c6;
    position: relative;
  }
}

@media only screen and (min-width: 650px) {
  input, button {
    font-size: 40px;
    border-width: 3px;
  }

  textarea:focus, input:focus{
    border: 3px solid #BDFF00;
    outline: none;
  }
}
