@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Space Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: 'Space Mono', monospace;
  border: 2px solid #BDFF00;
  border-radius: 100px;
  background: transparent;
  padding: 7px 10px;
  font-size: 17px;
  text-align: center;
}

button {
  font-family: 'Space Mono', monospace;
  font-size: 17px;
  background: #FF0099;
  border: none;
  border-radius: 100px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #FF0099;
    background: #C9C6BD;
  }
}
