@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;1,200&display=swap');

* {
  font-family: 'IBM Plex Mono', monospace;
}
*[data-theme='BEER'] {
  cursor: default;
  --bg-color: black;
  --text-color: white;
  --link-color: #ffa0d7;
  --subtext-color: #c9c9c9;
  --border-color: #b4b4b4;
  --border-active: #B5A642;
  --placeholder-color: #bebebe;
  --highlight-color: #b5a642;
}

*[data-theme='COFFEE'] {
  cursor: default;
  --bg-color: #C9C6BD;
  --text-color: black;
  --link-color: #ff0095;
  --subtext-color: #4d4d4d;
  --border-color: #000;
  --border-active: #bbff00;
  --placeholder-color: #636363;
  --highlight-color: #bbff00;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  height: 100%;
  background: var(--bg-color);
  color: var(--text-color);
}

ul {
  background: var(--bg-color);
  color: var(--subtext-color);
  z-index: 1000;
  padding: 0px 10px 7px 12px;
  position: absolute;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--highlight-color);
}

a:hover {
  cursor: default;
  background-color: var(--link-color);
  color: var(--bg-color);
}

label {
  color: var(--text-color)
}

input {
  border: 2px solid var(--border-color);
  background: transparent;
  padding: 7px 10px;
  font-size: 20px;
  color: var(--text-color)
}

textarea:focus, input:focus{
  border: 2px solid var(--border-active);
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  box-shadow: none;
}

input[type=checkbox] {
   position: relative;
   height: 25px;
   width: 25px;
   appearance: none;
}

input[type=checkbox]:checked:after {
   content: "";
   display: block;
   width: 7px;
   height: 20px;
   border: solid var(--border-active);
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   position: absolute;
   top: -2px;
   left: 6px;
}

input::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}

button {
  font-size: 20px;
  padding: 5px 12px;
  cursor: default;
  border: 2px solid var(--border-color);
  background: inherit;
  color: var(--link-color);
}

button:disabled {
  opacity: 0.5;
}

button:hover:not([disabled]) {
  border: 2px solid var(--border-active);
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: var(--highlight-color);
}
::-moz-selection {
  background: var(--highlight-color);
}

/* @media (prefers-color-scheme: dark) {
  html, body {
    color-scheme: dark;
    overflow: hidden;
  }
  body {
    color: rgb(167, 167, 167);
    background: #000;
    position: relative;
  }
} */

@media only screen and (min-width: 650px) {
  input, button {
    font-size: 40px;
  }

  textarea:focus, input:focus{
    border: 2px solid #B5A642;
    outline: none;
  }
}
